@page
@model RazorPageF.Pages.SimpleFormModel
@{
}
<h1>Simple Form</h1>
<form  method="post">
	<div class="mb-3">
		<label for="l" class="form-label">Login</label>
		<input type="text" class="form-control" id="l" name="login" placeholder="Login" />
	</div>
	<div class="mb-3">
		<label for="p" class="form-label">Password</label>
		<input type="password" class="form-control" id="p" name="pass" placeholder="*****" />
	</div>

	<button class="btn btn-primary" type="submit">Log in</button>

</form>
