@model List<MVC.Model.UserReview>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Review";
}
<div class="row text-center">
	<h1>Review</h1>
	<br />
</div>
<br />
<a class="btn btn-primary" asp-controller="Review" asp-action="NewReview">Добавить новый отзыв</a>
<br />

<section>
	@using (Html.BeginForm("Index", "Review", FormMethod.Get))
	{
		foreach (var item in Model)
		{
			<hr />
			<div class="row text-center">
				<div class="col-md-12">
					<div id="carouselBasicExample" data-mdb-carousel-init class="carousel slide carousel-dark" data-mdb-ride="carousel">
						<div class="carousel-inner">
							<!-- Single item -->
							<div class="carousel-item active">
								<p class="lead font-italic mx-4 mx-md-5">
									@item.Desc
								</p>
								<div class="mt-5 mb-4">
									<h6>Оценка: @item.Mark</h6>
								</div>
								<div class="mt-5 mb-4">
									<h5>@item.UserName</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr />
		}
	}
</section>

