@model MVC.Model.Calculator
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Calc";
}

<div class="text-center">
	<h1 class="display-4">Calc</h1>

</div>
<div class="row">
	@using (Html.BeginForm("Index", "Calc", FormMethod.Post))
	{
		@*	<form>*@

		<div class="form-group">
			<label for="A">Введите число 1</label>
			@if (Model.ErrorMessage != string.Empty)
			{
				<div id="emailHelp" class="form-text">@Model.ErrorMessage</div>
				
			}
			<input type="text" class="form-control form-control-lg" name="A" value="@Model.A" />
		</div>
		<div class="form-group">
			<label for="B" >Введите число 2</label>
			<input type="text" class="form-control form-control-lg" name="B" value="@Model.B" />
		</div>
		<div class="form-group">
			<label for="Total">Ваш результат</label>
			<input type="text" class="form-control form-control-lg" name="Total" value="@Model.Total" disabled />
		</div>
		<button type="submit" class="btn btn-info" id="add" value="add" name="calculate">+</button>
		<button type="submit" class="btn btn-info" id="min" value="min" name="calculate">-</button>
		<button type="submit" class="btn btn-info" id="div" value="div" name="calculate">/</button>
		<button type="submit" class="btn btn-info" id="mul" value="mul" name="calculate">*</button>
	}
	@*  </form>*@
</div>
