@page
@model Restoran.Pages.AboutModel
@{
}

<div>
	<div class="row featurette">

		<div class="col-md-7">
			<h2 class="featurette-heading fw-normal lh-1" _msttexthash="27484626" _msthash="42">
				Красти Краб — известный ресторан быстрого питания в подводном городе.
				<span class="text-body-secondary" _istranslated="1">
					Бикини Боттом
				</span>
			</h2>
			<p class="lead" _msttexthash="84531330" _msthash="43">

				Он принадлежит<a asp-page="/Employees"> Юджину Крабсу</a> и управляется им; также мистер Крабс изобрёл знаменитый крабсбургер.
				У Крабса два сотрудника: <a asp-page="/Employees">Сквидвард Тентаклс</a> и <a asp-page="/Employees">Губка Боб Квадратные Штаны</a>, работающие кассиром и поваром соответственно.
				Патрик Стар также несколько раз работал в Красти Краб на различных должностях.
			</p>
		</div>
		<div class="col-md-5">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/The_Krusty_Krab.png/1280px-The_Krusty_Krab.png" width="500" height="500" />
		</div>

	</div>
</div>