@page
@model Restoran.Pages.EmployeesModel
@{
}
@foreach (var item in Model.Employes)
{
	<div>
		<div class="row featurette">
			<div class="col-md-7" id=@item.Id>
				<h2 class="featurette-heading fw-normal lh-1">
					@item.Name
					@* Юджин Гарольд Крабс *@
				</h2>
				<p class="lead">					
					@Html.Raw(item.Desc);
				</p>
				@* <p class="lead">
					Является основателем и менеджером ресторана «Красти Краб», где <a href="#bob">Губка Боб</a> работает поваром, а <a href="#sqvid">Сквидвард</a> — кассиром.
					Успех ресторана Крабса строится на низкой конкуренции и популярности фирменного бургера — крабсбургера, формула которого является строго охраняемой коммерческой тайной.
				<p class="lead">
					Врагом и бывшим другом мистера Крабса является Шелдон Планктон, который владеет неудачным рестораном «Помойное ведро» (англ. Chum Bucket), располагающийся через дорогу от «Красти Краба» (раньше они сотрудничали для продажи еды, но из-за этих идей они и поссорились, и теперь у Крабса популярная еда, а у Планктона отвратительная).
					Одним из главных сюжетных моментов является то, что Планктон пытается с помощью разных методов завладеть формулой крабсбургера, дабы вывести Крабса из бизнеса.
					Чтобы избежать этого, Юджин идёт на крайние меры, чтобы не дать Планктону завладеть формулой — он даже отказывается позволить ему купить крабсбургер на законных основаниях.
					У мистера Крабса есть дочь-кашалот Перл.
				</p> *@
			</div>
			<div class="col-md-5">
				<img src=@item.Image width="500" height="500" />
				@* <img src="https://upload.wikimedia.org/wikipedia/ru/9/95/MrKrabs_Art_SB.png" width="500" height="500" /> *@
			</div>
		</div>
		@* <hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-md-7 order-md-2" id="bob">
			<h2 class="featurette-heading fw-normal lh-1" _msttexthash="27484626" _msthash="42">
				Гу́бка Боб Квадра́тные Штаны́
			</h2>
			<p class="lead" >
				Повар в ресторане «Красти Краб», в котором ему присуждалось звание работника месяца 374 раза.
				Его работодатель — мистер <a href="#crab">Крабс</a>, слишком любящий свои деньги, хотя иногда платит ему в меньшей степени (естественно, экономя большую часть денег).
			</p>
			<p class="lead" >
				Губку Боба отличают оптимизм, доброта, трудолюбие, надёжность.
				Он очень умён, но иногда бывает наивен.
				Его любимые занятия включают ловлю медуз (аналогично наблюдению за птицами и ловле бабочек) и надувание пузырей вместе с Патриком.
				Он не догадывается, как раздражает <a href="#sqvid">Сквидварда</a>. Очень часто Губка Боб бывает слишком энергичным, даже в таких делах, о которых он ничего не знает (например, когда Сквидвард предложил ему устроить забастовку в «Красти Крабе», Спанч Боб принял предложение, не зная, что это такое).
			</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img src="https://upload.wikimedia.org/wikipedia/ru/thumb/3/3f/%D0%93%D1%83%D0%B1%D0%BA%D0%B0_%D0%91%D0%BE%D0%B1_%D0%BF%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%B6.png/330px-%D0%93%D1%83%D0%B1%D0%BA%D0%B0_%D0%91%D0%BE%D0%B1_%D0%BF%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%B6.png" width="500" height="500" />
		</div>
	</div>
	<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-md-7" id="sqvid">
			<h2 class="featurette-heading fw-normal lh-1" _msttexthash="27484626" _msthash="42">
				Скви́двард Квентин Те́нтаклс
			</h2>
			<p class="lead" _msttexthash="84531330" _msthash="43">
				Кассир в ресторане «Красти Краб».
			</p>
			<p class="lead" _msttexthash="84531330" _msthash="43">
				Сквидвард не любит свою работу и его раздражают его алчный работодатель мистер <a href="#crab">Крабс</a> и необходимость работать с <a href="#bob">Губкой Бобом</a>
			</p>
		</div>
		<div class="col-md-5">
			<img src="https://upload.wikimedia.org/wikipedia/ru/2/23/Skvidvard.png" width="500" height="500" />
		</div>
	</div> *@

	</div>
}