@model MVC.Model.Domain.Product
@using MVC.Helpers.Html

@section Header {
	<h1>@Model.Name</h1>
}

<p>Id: @Model.Id</p>
<h4>@Model.Description</h4>
<p>Отзывы на данный товар</p>
@if (Model.UserReviews.Count != 0)
{
	@foreach (var item in Model.UserReviews)
	{
		<hr />
		@Html.CreateReviewContainer(item)
		<hr />
	}
}
else
{
	<hr />
	<div>Отзывов еще</div>
	<hr />
}